<?page title="Auto Generated alumnos.zul" contentType="text/html;charset=UTF-8"?>

<window title="Cursos Alternativos" border="normal" apply="com.cursos.alternativos.portal.controller.CursosAlternativosController" >

	<listbox id="lbxAlumnos">
		<listhead>
			<listheader label="id"/>
			<listheader label="nombre"/>
			<listheader label="apellido paterno"/>
			<listheader label="apellido materno"/>
			<listheader label="activo"/>
			<listheader label="calificaciones"/>
		</listhead>
		<template name="model">
		    <listitem>
		        <listcell label="${each.id_t_usuarios}" />
		        <listcell label="${each.nombre}" />
		        <listcell label="${each.ap_paterno}" />
		        <listcell label="${each.ap_materno}" />
		        <listcell label="${each.activo}" />
		        <listcell>
		        	<button label="Ver Calificaciones" forward="onShowAlert(${each})"></button>
		        </listcell>
		    </listitem>
		   </template>
	</listbox>
	
</window>